@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

:root {
    --container-color: black;
    --second-color: #4000ff;
    --text-color: black;
    --bg-color: #00d5fb;
    --color-button-insta: #ff00f7;
    --color-button-github: black;
    --color-button-portifolio: #09f905;
}

::selection {
    color: var(--bg-color);
    background: var(--second-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

.bt-insta {
    color: var(black);
    text-decoration: none;
    background: none;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.bt-insta:hover {
    color: black;
    background-color: var(--color-button-insta);
    border-color: var(--color-button-insta);
}

.bt-github {
    color: var(black);
    text-decoration: none;
    background: none;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.bt-github:hover {
    color: white;
    background-color: var(--color-button-github);
    border-color: var(--color-button-github);
}

.bt-portifolio {
    color: var(black);
    text-decoration: none;
    background: none;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.bt-portifolio:hover {
    color: white;
    background-color: var(--color-button-portifolio);
    border-color: var(--color-button-portifolio);
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* MENU */
.contenedor-header {
    background: url("./img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.contenedor-header header .logo a {
    font-size: 40px;
    text-decoration: none;
}

.logo {
    color: var(--second-color);
}

.logo span {
    color: var(--bg-color);
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: var(--second-color);
}

.nav-responsive {
    background: url("/img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.about {
    position: relative;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 4px hsl(1 4% 14% / 10%);
    border: #111;
}

.titleText {
    margin-bottom: 30px;
}

.btn-readmore {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid #111;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    margin-bottom: 30px;
}

.btn-readmore:hover {
    background-color: var(--second-color);
    border: none;
    color: #fff;
}

.home {
    width: 100%;
    min-height: 440px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.home {
    background: url("./img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-text {
    color: var(--bg-color);
    text-align: center;
}

.home-title {
    font-size: 3.5rem;
}

.home-subtitle {
    font-size: 1rem;
    font-weight: 400;
}

.post {
    top: 25px;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 1px 4px hsla(0, 2%, 8%, 5);
    border: #111;
    position: relative;
    width: 100%;
}
.post-ze{
    top: 25px;
}
.post-bg{
    top: 45px;
}

.titleTxT {
    font-weight: 400;
    color: #111;
    font-size: 2rem;
}

.title-txt {
    color: #111;
    font-size: 1em;
}

.post .img-post {
    border: var(--text-color);
    box-shadow: 0 2px 5px hsl(3 5% 14% / 10%);
    min-width: 50%;
    width: 50%;
    min-height: 100px;
    margin-left: 25%;
}

.post-date {
    display: flex;
    margin-bottom: 30px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--bg-color);
}

.post-img {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--second-color);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 30px;
    border: 2px solid var(--second-color);
}

.profile-name {
    font-size: .8rem;
    margin-top: 30px;
    font-weight: 500;
    color: var(--bg-color);
}

@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}